CPP/fits_parser/*.out
CPP/fits_parser/*.pdf
CPP/fits_parser/*.txt
CPP/fits_parser/*.fits

CPP/matrix/*.o
CPP/matrix/test

CPP/multi_set/mset

CPP/phone_list/app
CPP/phone_list/bez_indexu
CPP/phone_list/*.o
CPP/phone_list/hw.tar
CPP/phone_list/test

CPP/scheduler/*.o
CPP/scheduler/sched

Haskell/Others_HW/*

Prolog/Others_HW/*

Java/*.class
